$prompt-text-color: rgba(0, 252, 4, 0.8);

.dropdown {
  margin-right: 30px;
  position: relative;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:45px;
  width: 200px;
  background-color: #000;
  font-weight:bold;
  position: absolute;
  font-size: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
li a {
  color: $prompt-text-color;
  text-decoration: none;
}
li {
  padding: 8px 16px;
  border-bottom: 1px solid #000;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: darkgreen;
}
.button {
  background-color:#000 ;
  padding-top: 5px;
  padding-left: 5px;
  border-radius:5px;
  font-weight:bold;
  color:$prompt-text-color;
  font-size: 15px;
  display: inline-block;
}
.icon {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  width: 20px;
  height: 20px;
}
