@import "../abstracts/all";

$border-color: #383838;

.bash {
  height: 60%;
  position: absolute;
  top: 120px;
  left: 40px;
  border: 2px solid $border-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  text-align: left;
  
  @media all and (min-width: $xl) {
    width: 40%;
  }
  @media all and (max-width: $xl - 1) and (min-width: $lg) {
    width: 50%;
  }
  @media all and (max-width: $lg - 1) {
    top: 60px;
    width: 80%;
  }
}

.header {
  border: 2px solid $border-color;
  padding: 0 10px 0;
}

@mixin circle {
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

#red {
  @include circle;
  background-color: #bf616a;
}

#yellow {
  @include circle;
  background-color: #ebcb8b;
}

#green {
  @include circle;
  background-color: #a3be8c;
}

form {
  display: flex;
  input {
    background: none;
    border: none;
    color: inherit;
    flex-grow: 1;
    font-family: inherit;
    font-size: inherit;
    outline: none !important;
    padding: 0;
  }
}
